In [1]:
import os
import json
import pandas as pd

### Tüm Json' ları Birleştirme

In [2]:
folder_path = "Texts-JSON"
json_files = sorted([f for f in os.listdir(folder_path) if f.endswith(".json")])

In [3]:
all_data = []

for file in json_files:
    file_path = os.path.join(folder_path, file)
    with open(file_path, "r", encoding="utf-8") as f:
        data = json.load(f)
        all_data.extend(data)

In [4]:
# DataFrame'e çevir
df = pd.DataFrame(all_data)

In [5]:
# tek bir JSON olarak kaydet
with open("fenerbahce_beko_news.json", "w", encoding="utf-8") as f:
    json.dump(all_data, f, ensure_ascii=False, indent=2)

print(f"Toplam {len(df)} haber birleştirildi.")

Toplam 9989 haber birleştirildi.

In [6]:
df.head()

,title,text,date
0,"Final Four Üçüncülük Maçında Fenerbahçe Beko, ...",by Eurohoops Team /info@eurohoops.net\nEurohoo...,25/May/24 22:13
1,Nate Sestina: “Şampiyon Olamadık Fakat Başımız...,by Bilal Baran Yardımcı /info@eurohoops.net\nE...,25/May/24 20:39
2,Nigel Hayes-Davis: “Üçüncülük Maçı mı? Avrupa’...,by Bilal Baran Yardımcı /info@eurohoops.net\nE...,25/May/24 19:03
3,Saras Jasikevicius’tan Eurohoops’a: “Üçüncülük...,by Alex Molina /info@eurohoops.net\nEurohoops ...,25/May/24 17:49
4,EuroLeague Final Four: Tarihin En Farklı Biten...,by Utkan Şahin /info@eurohoops.net\nFinal Four...,25/May/24 08:52

In [7]:
df.shape

(9989, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9989 entries, 0 to 9988
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   9989 non-null   object
 1   text    9989 non-null   object
 2   date    9989 non-null   object
dtypes: object(3)
memory usage: 234.2+ KB